REDIS_PORT=6379
REDIS_HOST=redis

PARSER_QUEUE_NAME=parser
TELEGRAM_QUEUE_NAME=telegram
DATABASE_QUEUE_NAME=database
SCHEDULER_QUEUE_NAME=scheduler
STORAGE_QUEUE_NAME=storage

YC_KEY_ID=
YC_SECRET_KEY=
BUCKET_NAME=logostorage
REGION_NAME=ru-central1
ENDPOINT=https://storage.yandexcloud.net

API_ID=
API_HASH=
SECRET_KEY=
SENTRY_DSN=
SENTRY_ENV=development
PROXY=http://user-pias7720209579-sessid-u1yh9ysp:VySU188iXTInK@proxy.piaproxy.com:7000
